@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: theme('colors.slate.900');
	color: theme('colors.slate.300');

	height: 100vh;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	justify-items: center;

	gap: 2rem;
	padding: 2rem;
}
